<div class="row">
  <center>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h3 class="submitFont">These are your burgers available!</h3>
      <div id="burgersAvailable">

        {{#each burgers}}
        {{#unless devoured}}
        <form action="burger/eat/{{id}}" method="POST">
          <input type="text">{{this.id}} .{{this.burger_name}}</input>
          <span class="input-group-btn">
            <button class="btn btn-success devour-button" type="submit">Devour!!</button>
          </span>
        </form>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-3">
      <h3 class="submitFont">Burgers Devoured</h3>
      <div id="alreadyEaten">
        {{#each burgers}}
        {{#if this.devoured}}
        <input type="text">{{this.id}} .{{this.burger_name}}</input>
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-3"></div>
  </center>
</div>